<div class="container-fluid min-vh-100 d-flex flex-column">

  <div id="top-part" class="row flex-grow-1 align-items-center py-3">
    <div class="col-6 d-flex justify-content-center">
      <img src="images/about1.jpg" alt="Our family-owned store" class="about-image-top img-fluid">
    </div>
    <div class="col-6">
      <p class="about-text-top mb-0">
        <b>Carrefour is an e-commerce system</b> is a digital platform for selling products online, combining a dynamic
        user interface
        (catalog, carts, and checkouts) with a secure back-end system that manages orders, and payment
        processing in real time.
      </p>
    </div>
  </div>

  <div id="bottom-part" class="row flex-grow-1 align-items-center py-3">
    <div class="col-6">
      <p class="about-text-bottom mb-0">
        Carrefour is a modern e-commerce platform dedicated to bring you a curated selection of fresh, high-quality
        food and premium groceries. We focus on sourcing the finest ingredients and everyday essentials that meet strict
        standards of freshness and quality. Combined with cutting-edge web technology and secure checkout, we provide a
        fast, reliable, and delightful shopping experience straight to your kitchen. </p>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <img src="images/about2.avif" alt="Our family-owned store" class="about-image-bottom img-fluid">
    </div>
  </div>

</div>